@font-face {
  font-family: "Integral CF";
  src:
    url("IntegralCF-Bold.woff2") format("woff2"),
    url("IntegralCF-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("Satoshi-Regular.woff2") format("woff2"),
    url("Satoshi-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("Satoshi-Bold.woff2") format("woff2"),
    url("Satoshi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("Satoshi-Medium.woff2") format("woff2"),
    url("Satoshi-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Satoshi";
  src:
    url("Satoshi-Italic.woff2") format("woff2"),
    url("Satoshi-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body,
.single-product-box h3 {
  font-family: "Satoshi", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Integral CF", sans-serif;
  font-weight: 700;
}
/* img.slick-next.slick-arrow {
  position: absolute;
  top: 0;
  right: 0;
}

img.slick-prev {
  position: absolute;
  top: 40;
  right: 0;
} */
.testimonial-carousel > img {
  position: absolute;
  right: 40px;
  top: -70px;
  cursor: pointer;
}

.testimonial-carousel > img:last-child {
  right: 0;
}

.rrf-promo-1 {
  background-image: url("image-11.jpeg");
}
.rrf-promo-2 {
  background-image: url("image-12.jpeg");
}
.rrf-promo-3 {
  background-image: url("image-13.jpeg");
}
.rrf-promo-4 {
  background-image: url("image-14.jpeg");
}
.testimonial-carousel .slick-list {
  margin-left: -12px;
  margin-right: -12px;
}
